<div class="container jumbotron landing">
  <h1><i class="fa fa-tasks"></i> DO THIS!</h1>
  <p class="lead">A way to smartly manage tasks</p>
  <%= link_to "Sign Up", root_path, class: "btn btn-primary btn-lg btn-xl" %>
</div>
