.navbar
  margin-bottom: 15px
  padding-top: 5px
  padding-bottom: 5px
  border-bottom: 1px solid #eaeaea
  background-color: #000
  color: #fff

.navbar-brand
  font-size: 1.75em
  font-weight: bold
  text-spacing: -1px

.footer
  color: #666
  margin-top: 10px
  border-top: 1px solid #eaeaea
  text-align: center
  float: left
  position: sticky bottom

.landing
  border-radius: 15px
  background-image: asset_url('todo-list.jpg')
  background-size: cover
  height: 550px
  

.navbar-logo
  display: block
